@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

#background{
    background-image: url(../imagens/espaco.jpg);
    background-position: center top;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#astronauta{
    background-image: url('../imagens/astronauta.png');
    background-size: contain;
    position: absolute;
    height: 500px;
    width: 500px;
}